
body{ 
    margin:0;
    border:0;
    padding:0;
  }

.log{
    margin-top:2 ;
    margin-left: 70px;
    margin-right:-80px;
     width: 100%;
     height:450px;
  
}



h2{
    font-family: 'Merriweather', serif;
    font-weight: bold;
   
}

.abou{
    justify-content: center;
    text-align: center;
}
p{
 font-family: 'Antic Slab',serif;
}

.seri{
    margin-top:2 ;
    margin-left: 70px;
    margin-right:-80px;
     
}
.hea{
    color: white;
    position:absolute;

   bottom: -500px;
   text-align: center;
}
h3{
    text-align: center;
    margin-left: 40%;
}
.geli{
    color: white;
    position:absolute;

   bottom: -630px;
   text-align: center;
   margin-left: 70px;

}
h4{
    text-align: center;
    margin-left:45%;

}

.col-sm-4{
    margin-left:20%;
    margin-top:-1%;
    margin-bottom:9%;
   
}
.col-sm-6{
   
    margin-top:-14%;
 margin-left:46%;
}
.col-sm-2{
    margin-left:80% ;
    margin-top: -15%;
}